{{#with data}}
    <div class="col-4">
        <div class="card">
        <div class="img" style="background-image: url({{photo}})"></div>
    <h3 class="card_title">{{heading}}</h>
    <p class="card_text">{{info}}</p>
    <a class="card_button" href="{{linkUr}}">{{linkText}}</a>
    </div>
    </div>
{{/with}}